.photo-grid {
  margin-left: 3.75%;
  margin-right: 3.75%;
  margin-top: 92px;
  max-width: 1184px;
}

@media (max-width: 1025px) {
  .photo-grid {
    margin: 92px 4.69% 0;
  }
}

@media (max-width: 769px) {
  .photo-grid {
    margin: 88px 24px 0;
  }
}

@media (max-width: 500px) {
  .photo-grid {
    margin: 64px 16px 0;
  }
}
