.places {
  max-width: 984px;
  margin: auto;
  margin-top: 92px;
  padding: 0;
}

@media (max-width: 1025px) {
  .places {
    margin: 92px 4.69% 92px;
  }
}

@media (max-width: 978px) {
  .places {
    margin: 88px 24px 90px;
  }
}

@media (max-width: 500px) {
  .places {
    margin: 64px 0 66px;
  }
}
