.photo-grid__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px 16px;
}

@media (max-width: 1060px) {
  .photo-grid__items {
    gap: 14px 14px;
  }
}

@media (max-width: 500px) {
  .photo-grid__items {
    gap: 12px 12px;
  }
}
