.footer {
  max-width: 1184px;
  margin: 0 3.75% 0;
  margin-top: 92px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 769px) {
  .footer {
    margin: 88px 24px 24px;
  }
}

@media (max-width: 500px) {
  .footer {
    margin: 64px 16px 24px;
    flex-direction: column;
  }
}
